main {
    width: 375px;
    height: 500px;
}

main div {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/img/two_girl.png');
    background-size: cover;
background-position: center;
}

main p {
    margin-top: 200px;
    font-size: 14px;
    font-weight: 400;
}
